---
layout: main.njk
---


<main id="type_agents">
  <!-- Liste de URLs pour type de Agents -->
  <div id="catalogue_agents">
    <ul>
      <li><a href="../agents/collectivites">Collectivites</a>
      </li>
      <li><a href="../agents/personnes">Personnes Physiques</a>
      </li>
      <li><a href="../agents/producteurs">Producteurs</a>
      </li>  
    </ul>  
  </div>
</main>