---
layout: main.njk
---

{% set sortIndex = agents.graph | jsonSort("rdfs:label") %}

<main class="section_garance">
	<div class="row">
		<div class="col-md">
			<h1 class="title-Header" data-i18n="agents"></h1>			
			<ul>
				{%- for item in sortIndex -%}
					{% if item.id %}
						<li>
							<a href="{{ [ '/entities/agent/', item.id | localName ] | join | relative(page) }}">{{ item["rdfs:label"] | lang("fr") }}</a>
						</li>
					{% endif %}
				{%- endfor-%}
			</ul>			
		</div>
	</div>
</main>
