{% macro header(agent) %}
  {% set cssClasses = agent['type'] | unboxArray | getHeaderCssClasses(shapes, context) %}

  <div class="header {{ cssClasses }}">
    <h1 class="header-title">
      {{ jsonld.renderLiteralAsString(agent | displayLabel(context) | unboxArray ) }}
    </h1>

    {% if agent and agent.id %}
      {% set fullUri = agent.id | expandUri(context) %}
      <div class="copy-icon-btn-wrapper header-uri d-flex align-items-center gap-2 position-relative">
        <code>
          <a class="copy-link" href="{{ fullUri }}">{{ fullUri }}</a>
        </code>
        <button class="border-0 copy-icon-btn" data-copy="{{ fullUri }}">
          <i class="fas fa-copy"></i>
        </button>
      </div>

      {% if 'agent:FRAN_RI_' in agent.id %}
        {% set getIdentifiant = agent.id | expandUri(context) | replace(r/.*FRAN_RI_.*?-/, '') %}
        <code class="copy-icon-btn-wrapper position-relative d-inline-flex align-items-center gap-2">
          <span>{{ getIdentifiant }}</span>
          <button class="border-0 copy-icon-btn" data-copy="{{ getIdentifiant }}">
            <i class="fas fa-copy"></i>
          </button>
        </code>
      {% else %}
        {% set getIdAgent= agent.id | expandUri(context) | replace(r/^[\/]*.+t/,'')  %}
        {% set getNumberId = getIdAgent | replace('/','') %}
        {% set rgxId = r/^\d{6}/ %}
        {% if rgxId.test(getNumberId) %}
          <code class="copy-icon-btn-wrapper position-relative d-inline-flex align-items-center gap-2">
            <span>FRAN_NP_{{ getNumberId }}</span>
            <button class="border-0 copy-icon-btn" data-copy="FRAN_NP_{{ getNumberId }}">
              <i class="fas fa-copy"></i>
            </button>
          </code>
          
        {% endif %}
      {% endif %}
    {% endif %}


<div class="d-flex">
  {% set links = agent | getDownloadLinks(context) %}
  {% if links %}
    
    <div class="mt-2 header-download flex-grow-1">
      <div class="col-9">
        <h6><span data-i18n="Download data"></span></h6>
      </div>
      <div class="col-10">
        {% if links.rdfUrl %}
          <a href="{{ links.rdfUrl }}" target="_blank"><img src="https://img.shields.io/badge/format-RDF%2FXML-blue" alt="RDF/XML" /></a>
        {% endif %}
        {% if links.eacUrl %}
          <a href="{{ links.eacUrl }}" target="_blank"><img src="https://img.shields.io/badge/format-EAC-blue" alt="EAC" /></a>
        {% endif %}
      </div>
    </div>
  {% endif %}


{% set creationDate = agent | getCreationDate %}
{% set lastMod = agent | getLastModificationDate %}
{% set seeAlsoUrl = agent | getSivSeeAlsoUrl %}

{% if creationDate or lastMod or seeAlsoUrl %}
  <div class="header-date">
    {% if creationDate %}
      <div><span data-i18n="Record created on"></span> : {{ creationDate }}</div>
    {% endif %}
    {% if lastMod %}
      <div><span data-i18n="Record updated on"></span> : {{ lastMod }}</div>
    {% endif %}
    {% if seeAlsoUrl %}
      <div><a href="{{ seeAlsoUrl }}" target="_blank"><span data-i18n="Voir dans le SIV"></span></a></div>
    {% endif %}
  </div>
{% endif %}


</div>

</div>
{% endmacro %}
