{% macro header(agent) %}
  {% set cssClasses = agent['type'] | unboxArray | getHeaderCssClasses(shapes) %}

  <div class="header {{ cssClasses }}">
    <h1 class="header-title">
      {{ jsonld.renderLiteralAsString(agent | displayLabel(context) | unboxArray ) }}
    </h1>

    {% if agent and agent.id %}
      {% set fullUri = agent.id | expandUri(context) %}
      <div class="header-uri d-flex align-items-center gap-2 position-relative">
        <code>
          <a class="copy-link" href="{{ fullUri }}">{{ fullUri }}</a>
        </code>
        {% set suffix = fullUri.split('FRAN_RI_') | last %}
        {% if suffix %}
          <button class="border-0 copy-icon-btn" data-copy="{{ suffix }}">
            <i class="fas fa-copy"></i>
          </button>
        {% endif %}
      </div>

    {% endif %}


<div class="d-flex">
  {% set links = agent | getDownloadLinks(context) %}
  {% if links %}
    <div class="mt-2 header-download flex-grow-1">
      {% if links.rdfUrl %}
        <a href="{{ links.rdfUrl }}" target="_blank"><img src="https://img.shields.io/badge/Record-RDF%2FXML-blue" alt="RDF/XML" /></a>
      {% endif %}
      {% if links.eacUrl %}
        <a href="{{ links.eacUrl }}" target="_blank"><img src="https://img.shields.io/badge/Record-EAC-blue" alt="EAC" /></a>
      {% endif %}
    </div>
  {% endif %}


{% set creationDate = agent | getCreationDate %}
{% set lastMod = agent | getLastModificationDate %}
{% set seeAlsoUrl = agent | getSivSeeAlsoUrl %}

{% if creationDate or lastMod or seeAlsoUrl %}
  <div class="header-date">
    {% if creationDate %}
      <div><span data-i18n="Record created on"></span> : {{ creationDate }}</div>
    {% endif %}
    {% if lastMod %}
      <div><span data-i18n="Record updated on"></span> : {{ lastMod }}</div>
    {% endif %}
    {% if seeAlsoUrl %}
      <div><a href="{{ seeAlsoUrl }}" target="_blank">Voir dans le SIV</a></div>
    {% endif %}
  </div>
{% endif %}


</div>

</div>
{% endmacro %}
