---js
{
  layout: "main.njk",
  pagination: {
      data: "agents.graph",
      size: 1,
      alias: "agent",
      before: function(paginationData, fullData) {
        // filter out entries without an id
        return paginationData.filter(item => item.id);
      }
  },
  permalink: "entities/agent/{{ agent.id | localName }}/"
}
---

{% import "src/_layouts/jsonld.njk" as jsonld with context %}

<h1 class="entity-title">{{ jsonld.renderLiteralAsString(agent | displayLabel(context) | unboxArray ) }}</h1>
<p class="concept-URI">
    <code >
        <a href="{{ agent.id | expandUri(context) }}">{{ agent.id | expandUri(context) }}</a>
    </code>
</p>
{{ jsonld.render(agent) }}