---js
{
  layout: "main.njk",
  pagination: {
      data: "agents.graph",
      size: 1,
      alias: "agent",
      before: function(paginationData, fullData) {
        // filter out entries without an id
        return paginationData.filter(item => item.id);
      }
  },
  permalink: "entities/agents/{{ agent.id | localName }}/"
}
---

{% import "src/_layouts/jsonld.njk" as jsonld with context %}

<h1>{{ jsonld.renderLiteralAsString(agent | displayLabel(context) | unboxArray ) }}</h1>
{{ jsonld.render(agent) }}