---
layout: main.njk
---

<main class="section_garance">
    <div class="row">
        <div class="col-md">
            <h1 class="title-Header" data-i18n="agents"></h1>
            
            <div class="alphabet-index mb-4">
                {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                    <a href="{{ ['/pages/fr/agents/', letter] | join | relative(page) }}" class="btn btn-outline-primary m-1">{{ letter }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</main>