---
layout: main.njk
pagination:
    data: metadata.scheme.graph
    size: 1
    alias: concepts
permalink: "{{ locale }}/conceptScheme/{{ concepts.inverse_inScheme }}/concept/{{ concept.id | notation | slugify }}/"
---