---
layout: main.njk
---


<section>
    <ul>
        <li><a href="/{{ locale }}/vocabularies/">Vocabularies</a></li>            
        <li><a href="/{{ locale }}/agents/">Agents</a></li>
        <li><a href="/{{ locale }}/place/">Places</a></li>        
    </ul>
<section>
