---
layout: main.njk
---

<main id="vocabulary">
	<div class="row">
		<div class="col-md">
			<h1 class="title-Header">{{ 'title' | i18n }}</h1>
			<ul>
				{%- for item in index.graph -%}
					<li>
						<a href="/garance/{{ locale }}/voc/{{ item.id | notation  }}">{{ item.id | notation }} : {{ item.dctitle | label("fr") }}</a> <small class="numConcepts"> - {{ item.inverse_inScheme.length }} Concepts</small>
					</li>
				{%- endfor-%}
			</ul>
			
		</div>
	</div>
</main>
