{% macro renderRicoCoordinates(obj, depth, mainObject) %}
    {% set measure = obj | getPredicateFirstValue("rico:measure", context) %}
    {% if measure %}
        <div id="map" data="{{ measure | safe | stripHtmlPrefix }}"></div>
    {% else %}
        {% set sortedKeys = object | sortPredicates(shapes,context) %}
        {{ renderObjectValue(sortedKeys,object,depth, mainObject) }}
    {% endif %}
{% endmacro %}


{% macro renderRicoExtent(obj, depth, mainObject) %}
    {% set type = obj | getPredicateFirstValue("rico:type", context) %}
    {% set quantity = obj | getPredicateFirstValue("rico:quantity", context) %}
    {% set unit = obj | getPredicateFirstValue("rico:unitOfMeasurement", context) %}
    <div class="ricoExtent">
        {% if type %}<span class="extentType">{{ type }}</span> : {% endif %}
        {% if quantity %}<span class="extentQuantity">{{ quantity }}</span>{% endif %}
        {% if unit %}<span class="extentUnit">{{ unit }}</span>{% endif %}
    </div>
{% endmacro %}
