
{# generic method to render any JSON-LD object or value. #}
{# Tests the structure of the object/value and apply the adequate rendering function #}
{# Unbox single values from arrays if needed, so that arrays with a single value are treated the same as the value itself. #}


{% macro render(object, mainObject) %}
    {{ doRender(object, 1, mainObject) }}
{% endmacro %}

{# The main object is passed as a second argument to be able to detect URI references to self, and print non-clickable label accordingly #}
{% macro doRender(object, depth, mainObject) %}
    {% set obj = object | unboxArray %}

    {% if obj is null %}
        null
    {% elif obj | isIriPrefixed(context) %}
        {# expands the prefixed URI and print it #}
        {{ renderPlainUri(obj | expandUri(context)) }}
    {% elif obj | isIriString(context) %}
        {{ renderPlainUri(obj) }}
    {% elif obj | isIriObjectWithOnlyOptionalType(context) %}
        {# special : circular reference to the main entity - print a non-clickable label #}
        {% if (obj.id | expandUri(context)) == (mainObject | getIriExpanded(context)) %}
            {% if depth > 1 %}
                {{ renderLabelOfSelf(mainObject) }}
            {% else %}
                {# special x 2 : first level, the mainObject has only a label, print it normally #}
                {{ renderObject(obj, depth, mainObject) }}
            {% endif %}
        {% else %}
            {{ renderPlainUri(obj.id | expandUri(context)) }}
        {% endif %}
    {% elif obj | isLiteralString or obj | isLiteralObject %}
        {{ renderLiteral(obj) }}
    {% elif obj | isObjectWithSingleLabelProperty(context) %}
        {{ renderObjectWithSingleLabelProperty(obj) }}
    {% else %}
        {{ renderObject(obj, depth, mainObject) }}
    {% endif %}
{% endmacro %}

{% macro renderLabelOfSelf(mainObject) %}
    {{ renderLiteralAsString(mainObject | displayLabel(context) | unboxArray ) }}
{% endmacro %}

{% macro renderPlainUri(uri) %}
    <a href="{{ uri | toUrl | relative(page) }}" class="hyperlink">{{uri | shortenUri(context) }}</a>
{% endmacro %}

{% macro renderLabelledUri(uri, labelHtml) %}
  <a href="{{ uri | toUrl | relative(page) }}" class="hyperlink">{{labelHtml}}</a>
{% endmacro %}

{% macro renderObject(object, depth, mainObject) %}
    <div class="entity">
        {# The rendering plugin declared in the shapes #}
        {% set renderingPlugin = object | getTypes | getTemplateFromTypes(shapes, context) %}

        {% if renderingPlugin %}
          {# call the plugin found from the registry #}
          {# first, getContext("plugins") gets the imported macros (name must match the name of the import), then we call the macro name #}
          {{ getContext(renderingPlugin)(object, depth, mainObject) }}
        {% else %}
          {% set sortedKeys = object | sortPredicates(shapes,context) %}
          {{ renderObjectValue(sortedKeys,object,depth, mainObject) }}
        {% endif %}
    </div>
{% endmacro %}

{% macro renderObjectValue(sortedKeys,object,depth, mainObject) %}
  {% for predicate in sortedKeys %}
    {% set value = object[predicate] %}
    {% if predicate != "id" and predicate != "@id" %}
      {{ renderPredicateValues(object, predicate, value, depth, mainObject) }}
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro renderPredicateValues(object, predicate, values, depth, mainObject) %}
  {% set predExpanded = predicate | expandUri(context) %}
    {% set attrs = object | findShapeAttributes(predExpanded, shapes, context) %}
    {% set weight = attrs.weight %}
    {% set metaKeys = attrs.metaKeys %}
    {% set filter = attrs.filter %}
    {% set exclude = attrs.exclude %}


  <div class="entity-predicate {{ predicate | additionnalCssClass(object, shapes, context) }}">
    <div class="entity-predicate-predicate" data-pagefind-ignore>
      {{ renderPredicate(predicate) }}
    </div>

    {# Filtres & métadonnées Pagefind #}
    {% if metaKeys and metaKeys|length %}
      <span hidden
        data-pagefind-meta="{% for k in metaKeys %}{{ k|safe }}{% if not loop.last %}, {% endif %}{% endfor %}">
      </span>
    {% endif %}

    <div class="entity-predicate-values"
         {% if weight %}data-pagefind-weight="{{ weight }}"{% endif %}
         {% if metaKeys and metaKeys|length %}
           data-pagefind-meta="{% for k in metaKeys %}{{ k|safe }}{% if not loop.last %}, {% endif %}{% endfor %}"
         {% endif %}
         {% if exclude %}data-pagefind-ignore{% endif %}
    >
      {# Cas particulier : type affiché horizontalement sans lien #}
      {% if predicate == "type" or predicate == "@type" %}
        <div class="entity-predicate-values-value entity-predicate-values-type">
          {{ renderTypeList(values, mainObject, depth) }}
        </div>
      {% else %}
        {% if values|isArray %}
          <div class="entity-predicate-values-list">
            {% for item in (values | sortValues(shapes, context)) %}
              <div class="entity-predicate-values-value
                          {% if loop.first %} first{% endif %}
                          {% if loop.last %} last{% endif %}"
                  {% if filter and filter|length %}
                    data-pagefind-filter="
                      {% for f in filter %}
                        {{ f|e }}{% if not loop.last %}, {% endif %}
                      {% endfor %}
                    "
                  {% endif %}
              >
                {{ doRender(item, depth + 1, mainObject) }}
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="entity-predicate-values-value"
               {% if filter and filter|length %}
                 data-pagefind-filter="
                   {% for f in filter %}
                     {{ f|e }}{% if not loop.last %}, {% endif %}
                   {% endfor %}
                 "
               {% endif %}
          >
            {{ doRender(values, depth + 1, mainObject) }}
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro renderPredicate(predicate) %}
    <div class="entity-predicate-predicate-title">
        {% set formattedPredicate = predicate | expandUri(context) | shortenUri(context) %}
        <span class="label" data-i18n="{{ formattedPredicate }}"></span>

        <span class="info-icon">ℹ️</span>
        <div class="tooltip-html" style="display: none;">
            <code>{{ formattedPredicate }}</code><br/>
            {% set tooltipKey = formattedPredicate ~ "_tooltip" %}
            <em data-i18n="{{ tooltipKey }}"></em>
        </div>
    </div>
{% endmacro %}

{% macro renderLiteral(literal) %}
    {% if literal is string %}
        <span class="literal">{{ literal }}</span>
    {% elif '@language' in literal or '@type' in literal or 'language' in literal or 'type' in literal %}
        {% set value = literal['@value'] or literal['value'] %}
        {% set langOrType = literal['@language'] or literal['@type'] or literal['language'] or literal['type'] %}
        {# special : if we find html tags inside, don't print the datatype - because value may contain HTML rendering, typically <p>, and the <sup> would be on a new line #}
        {% if not (langOrType == "rdf:XMLLiteral") %}
            <span class="literal">{{ value | safe | stripHtmlPrefix }}&nbsp;<sup>({{ langOrType }})</sup></span>
        {% else %}
            <span class="literal">{{ value | safe | stripHtmlPrefix }}</span>
        {% endif %}
    {% else %}
        {# should not happen #}
        {{ literal | json }}
    {% endif %}
{% endmacro %}

{% macro renderObjectWithSingleLabelProperty(object) %}
    {% set labelProperty = object | getFirstNonIdNonTypeProperty | unboxArray %}
    {% set labelHtml = renderLiteralAsString(labelProperty) %}
    {{ renderLabelledUri(object.id | expandUri(context), labelHtml) }}
{% endmacro %}

{% macro renderLiteralAsString(literal) %}
    {% if literal is string %}
        {{ literal }}
    {% elif '@language' in literal or '@type' in literal or 'language' in literal or 'type' in literal %}
        {% set value = literal['@value'] or literal['value'] %}
        {{ value | safe | stripHtmlPrefix }}
    {% else %}
        {# don't know what to do #}
        {{ literal }}
    {% endif %}
{% endmacro %}

{% macro renderAsList(valueArray, depth, mainObject) %}
    {% for item in valueArray %}        
        {{ doRender(item, depth+1, mainObject) }}{% if not loop.last %}, {% endif %}
    {% endfor %}
{% endmacro %}

{% macro renderTypeList(typeOrTypes, mainObject, depth) %}
    {% if typeOrTypes|isArray %}
        {% for item in typeOrTypes %}
            {{ renderType(item, mainObject, depth) }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% else %}
        {{ renderType(typeOrTypes, mainObject, depth) }}
    {% endif %}
{% endmacro %}

{% macro renderType(uri, mainObject, depth) %}
    <span data-i18n="{{uri | shortenUri(context) }}" {% if depth == 1 %}data-pagefind-filter="type[data-i18n]"{% endif %}></span>
{% endmacro %}




{# ####################### SPECIFIC MACROS ################################# #}



{% macro renderRicoCoordinates(obj, depth, mainObject) %}
    {% set measure = obj | getPredicateFirstValue("rico:measure", context) %}
    {% if measure %}
        <div id="map" data="{{ measure | safe | stripHtmlPrefix }}"></div>
    {% else %}
        {% set sortedKeys = obj | sortPredicates(shapes,context) %}
        {{ renderObjectValue(sortedKeys,obj,depth, mainObject) }}
    {% endif %}
{% endmacro %}


{% macro renderRicoExtent(obj, depth, mainObject) %}
    {% set type = obj | getPredicateFirstValue("rico:type", context) %}
    {% set quantity = obj | getPredicateFirstValue("rico:quantity", context) %}
    {% set unit = obj | getPredicateFirstValue("rico:unitOfMeasurement", context) %}
    <div class="ricoExtent">
        {% if type %}<span class="extentType">{{ type }}</span> : {% endif %}
        {% if quantity %}<span class="extentQuantity">{{ quantity }}</span>{% endif %}
        {% if unit %}<span class="extentUnit">{{ unit }}s</span>{% endif %}
    </div>
{% endmacro %}

{% macro renderRicoIdentifier(obj, depth, mainObject) %}
    {% set type = obj | getPredicateFirstValue("rico:type", context) %}
    {% set textualValue = obj | getPredicateFirstValue("rico:textualValue", context) %}
    <div class="ricoIdentifier">
        {% if textualValue %}<span class="identifierTextualValue">{{ textualValue }}</span> {% endif %}
        {% if type %}<span class="identifierType">({{ type }})</span> {% endif %}
    </div>
{% endmacro %}

{% macro renderMandate(obj, depth, mainObject) %}
    {% set title = obj | getPredicateFirstValue("rico:title", context) %}
    {% set link = obj | getPredicateFirstValue("rdfs:seeAlso", context) %}

    {% if title and link %}
        <div class="ricoMandate">
            <span class="mandateTitle">{{ title }}</span> <a class="mandateLink" target="_blank" href="{{ link }}">↗️</a>
        </div>            
    {% else %}
        {% set sortedKeys = obj | sortPredicates(shapes,context) %}
        {{ renderObjectValue(sortedKeys,obj,depth, mainObject) }}
    {% endif %}

{% endmacro %}