<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ dir }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-witdth">
        <title data-i18n="garance"></title>

        <!-- bootstrap -->
        <link href=" https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/journal/bootstrap.min.css " rel="stylesheet">
        
        <!-- fontawesome -->
        <link href="{{ '/assets/fa/css/all.min.css' | relative(page) }}" rel="stylesheet"/>        
        <!-- css -->
        <link rel='stylesheet' href="{{ '/assets/css/garance.css' | relative(page) }}" type='text/css' />
        <link rel='stylesheet' href="{{ '/assets/css/timeline.css' | relative(page) }}" type='text/css' />
        
    </head>
    <body>
        <!-- Navbar menu -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"> 
            <div class="container">
                <a href="https://www.archives-nationales.culture.gouv.fr/"><img src="{{ '/assets/images/archives-nationales.png' | relative(page) }} " style="width:200px;" /></a>
                &nbsp;
                &nbsp;
                <a class="navbar-brand" href="{{ '/pages/fr/' | relative(page) }}" data-i18n="garance"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavMenu" aria-controls="navbarNavMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavMenu">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- Referentiels -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="menu_Referentiels" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-i18n="referentiels"></a>
                            <ul class="dropdown-menu">
                                <!-- Vocabularies -->
                                <li class="dropdown-submenu">
                                    <!-- Page Vocabulaires -->
                                    <a class="nav-link dropdown-toggle" id="DropdownMenuLink_1" href="{{ '/pages/fr/vocabularies' | relative(page) }}" role="button" aria-expanded="false" data-i18n="vocabularies"></a>
                                    <!-- Others concepts links -->
                                    {% if index.graph %}
                                        {% set sortVocabularies = index.graph | jsonSort("title") %}
                                        <ul class="dropdown-menu">  
                                        {% for voc in sortVocabularies %}
                                            <li><a class="dropdown-item" href="{{ [ '/entities/', voc.id | localName ] | join | relative(page) }}"><span data-i18n="{{ voc.id | removeURL }}"/></a></li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}                                    
                                </li>
                                <!-- Agents -->
                                <li class="dropdown-submenu">
                                    <a class="nav-link dropdown-toggle" 
                                    id="DropdownMenuLink_2" 
                                    href="{{ '/pages/fr/agents' | relative(page) }}" 
                                    role="button" 
                                    aria-expanded="false" 
                                    data-i18n="agents">
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="DropdownMenuLink_2">
                                        <li>
                                            <a class="dropdown-item" href="{{ '/entities/agents/A' | relative(page) }}" data-i18n="index">Index</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Lieux -->
                                <li class="dropdown-submenu">
                                    <a class="nav-link dropdown-toggle" 
                                    id="DropdownMenuLink_3" 
                                    href="{{ '/pages/fr/places' | relative(page) }}" 
                                    role="button" 
                                    aria-expanded="false" 
                                    data-i18n="lieux">
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="DropdownMenuLink_3">
                                        <li>
                                            <a class="dropdown-item" href="{{ '/entities/places/A' | relative(page) }}" data-i18n="index">Index</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ '/pages/fr/search' | relative(page) }}" role="button" aria-expanded="false" data-i18n="recherche"></a>
                        </li>
                        
                        <!-- Menus 
                        <li>
                            <a class="nav-link" id="DropdownMenuLink_3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-i18n="Menu 1"></a>
                        </li>
                        <li>
                            <a class="nav-link" id="DropdownMenuLink_3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-i18n="Menu 2"></a>
                        </li>
                        -->
                    </ul>
                <div>
                <div class="menu-menu-principal-container">
                    {% if locale === "fr" %}
                        {% set pageURLEN = page.url | replace("/fr/", "/en/") %}
                        <span>
                            <a href="{{ pageURLEN | relative(page) }}" id="switchLang"><img src="{{ '/assets/images/EN.png' | relative(page) }}" alt =""/></a>
                        </span>                        
                    {% endif %}

                    {% if locale === "en" %}
                        {% set pageURLFR = page.url | replace("/en/", "/fr/") %}
                        <span>
                            <a href="{{ pageURLFR | relative(page) }}" id="switchLang"><img src="{{ '/assets/images/FR.png' | relative(page) }}" alt =""/></a>
                        </span>                        
                    {% endif %}

                    {% if locale === "" %}
                        <span>
                            {# Note: this link is postprocessed in Javacsript to switch to FR if we are in EN #}
                            <a href="{{ page.url.slice(0, page.url.length-1) | relative(page) }}?lang=en" id="switchLangClient"><img src="{{ '/assets/images/EN.png' | relative(page) }}" /></a>
                        </span> 
                    {% endif %}
                </div>
            </div>
        </nav>
        <!-- show all contents -->
        <div class="container">
            <section id = "contenu">
                {{ content | safe }}
            </section>
        </div>
        <hr>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fa-solid fa-chevron-up"></i></a>
        <footer class="footer"><span data-i18n="last updated on"></span> <span>{{ helpers.currentDateTime() }}</span><br /><br /></footer>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
        
        <!-- anchors -->
        <script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
        <!-- i18n -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>




        <script src="{{ '/assets/vendor/jquery.i18n/jquery.i18n.js' | relative(page) }}"></script>
        <script src="{{ '/assets/vendor/jquery.i18n/jquery.i18n.messagestore.js' | relative(page) }}"></script>
        <script src="{{ '/assets/vendor/jquery.i18n/jquery.i18n.fallbacks.js' | relative(page) }}"></script>
        <script src="{{ '/assets/vendor/jquery.i18n/jquery.i18n.language.js' | relative(page) }}"></script>
        <script src="{{ '/assets/vendor/jquery.i18n/jquery.i18n.parser.js' | relative(page) }}"></script>
        <script src="{{ '/assets/vendor/jquery.i18n/jquery.i18n.emitter.js' | relative(page) }}"></script>

         <!--    Tippy CSS 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tippy.js@6/dist/tippy.css" />-->

        <!-- Popper.js -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2/dist/umd/popper.min.js"></script>

        <!-- Tippy.js -->
        <script src="https://cdn.jsdelivr.net/npm/tippy.js@6/dist/tippy-bundle.umd.min.js"></script>



        <script src="{{ '/assets/js/garance.js' | relative(page) }}"></script>
        <script>
            var locale = getLocale("fr","{{ locale }}",urlParam('lang'));
            triggerI18n(
                locale,
                "{{ '/assets/translations/en.json' | relative(page) }}",
                "{{ '/assets/translations/fr.json' | relative(page) }}"
            );
            adaptPagesHrefLocale(locale);
            triggerAnchors();
        </script>
    </body>    
</html>
