---
layout: main.njk
---

{% set sortIndex = places.graph | jsonSort("rdfs:label") %}

<main class="section_places">
	<div class="row">
		<h1 class="title-Header" data-i18n="places"></h1>		
		{# Departement #}
		<div class="col">				
			<ul>
				{%- for item in sortIndex -%}
					{% if item.id  %}
						{% if ("geofla:Departement" in item.type or "insee-geo:Departement" in item.type) %}
							<li>
								<a href="{{ [ '/entities/place/', item.id | localName ] | join | relative(page) }}">{{ item["rdfs:label"] | lang("fr") }}</a>
							</li>
						{% endif %}
					{% endif %}
				{%- endfor-%}				
			</ul>
		</div>

		{# Commun #}
		<div class="col">				
			<ul>
				{%- for item in sortIndex -%}
					{% if item.id  %}
						{% if ("geofla:Commune" in item.type or "insee-geo:Commune" in item.type) %}
							<li>
								<a href="{{ [ '/entities/place/', item.id | localName ] | join | relative(page) }}">{{ item["rdfs:label"] | lang("fr") }}</a>
							</li>							
						{% endif %}						
					{% endif %}
				{%- endfor-%}				
			</ul>
		</div>
		{# Place #}
		<div class="col">				
			<ul>
				{%- for item in sortIndex -%}
					{% if item.id and item.type == "rico:Place" %}
						<li>
							<a href="{{ [ '/entities/place/', item.id | localName ] | join | relative(page) }}">{{ item["rdfs:label"] | lang("fr") }}</a>
						</li>							
					{% endif %}
				{%- endfor-%}				
			</ul>
		</div>		
	</div>
</main>