---
layout: main.njk
---

<main class="section_places">

	<h1 class="title-Header" data-i18n="lieux"></h1>

	{% set uniquePlaceTypes = places.graph | unique("rico:hasOrHadPlaceType") %}
	{%- for type in uniquePlaceTypes -%}
		<h2>{{ type["skos:prefLabel"] | lang("fr") }}</h2>
		<ul>
			{% set placesWithType = places.graph | findWithPropertyId("rico:hasOrHadPlaceType", type["id"]) %}
			{%- for aPlace in placesWithType -%}
				<li><a href="{{ [ '/entities/place/', aPlace.id | localName | slugify ] | join | relative(page) }}">{{ aPlace["skos:prefLabel"] | lang("fr") }}</a></li>
			{%- endfor-%}
		</ul>
	{%- endfor-%}
	<!-- add undefined place type -->
	<h2>Others...</h2>
	<ul>
		{% set placesWithoutType = places.graph | findWithoutProperty("rico:hasOrHadPlaceType") %}
		{%- for aPlace in placesWithoutType -%}
			<li><a href="{{ [ '/entities/place/', aPlace.id | localName | slugify ] | join | relative(page) }}">{{ aPlace["skos:prefLabel"] | lang("fr") }}</a></li>
		{%- endfor-%}
	</ul>
</main>