{% macro header(place) %}
  {% set cssClasses = place['type'] | unboxArray | getHeaderCssClasses(shapes) %}

  <div class="header {{ cssClasses }}">
    <h1 class="header-title">
      {{ jsonld.renderLiteralAsString(place | displayLabel(context) | unboxArray ) }}
    </h1>

    {% if place and place.id %}
      {% set fullUri = place.id | expandUri(context) %}
      <div class="copy-icon-btn-wrapper header-uri d-flex align-items-center gap-2 position-relative">
        <code>
          <a class="copy-link" href="{{ fullUri }}">{{ fullUri }}</a>
        </code>        
        <button class="border-0 copy-icon-btn" data-copy="{{ fullUri }}">
          <i class="fas fa-copy"></i>
        </button>
        
      </div>
    {% endif %}

</div>
{% endmacro %}
