---
layout: main.njk
---

<main class="section_places">

  {# ===================== CONTENU MARKDOWN ===================== #}
  {{ content | safe }}

  {# ===================== DONNÉES JS ===================== #}
  {% if places_types_stats %}
  <script>
    window.places_types_stats = {{ places_types_stats | dump | safe }};
  </script>
  {% endif %}

</main>
