---
layout: main.njk
---

<main class="section_garance">
    <div class="row">
        <link href="{{ '/pagefind/pagefind-ui.css' | relative(page) }}" rel="stylesheet">
        <script src="{{ '/pagefind/pagefind-ui.js' | relative(page) }}"></script>
        <div id="search"></div>
        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                new PagefindUI({ 
                	element: "#search",
                	showSubResults: false,
                	showImages: false,
                	pageSize: 10
                });
            });
        </script>
    </div>
</main>