---
layout: main.njk
---

<main class="section_garance">
    <div class="row">
        <link href="{{ '/pagefind/pagefind-ui.css' | relative(page) }}" rel="stylesheet">
        <script src="{{ '/pagefind/pagefind-ui.js' | relative(page) }}"></script>
        <div id="search"></div>
        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                new PagefindUI({ 
                	element: "#search",
                	showSubResults: true,
                	showImages: false,
                	pageSize: 10,
                	autofocus: true,
                    showEmptyFilters: false,
                    excerptLength: 120,
                    processTerm: function (term) {
                        console.log('term :', term);
                        return term;
                    },
                    ranking: {
                        termFrequency: 1.0,
                        termSimilarity: 80.0,
                        pageLength: 0.0,
                        termSaturation: 1.4,
                    },
                });
            });
        </script>
    </div>
</main>
