---
layout: main.njk
---

<main id="documentaryFormType">
	<div class="row">
		<div class="col-md">
			<h1 class="title-Header">{{ 'vocabularies' | i18n }}</h1>
			{% set sortIndex = index.graph | jsonSort("title") %}
			<ul>
				{%- for item in sortIndex -%}
					<li>
						<a href="{{ item.id | localName }}">{{ item.title | lang("fr") }}</a> <small class="numConcepts"> - {{ item.inverse_inScheme.length }} concepts</small>
					</li>
				{%- endfor-%}
			</ul>
			
		</div>
	</div>
</main>
