name: garance
on: workflow_dispatch
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/checkout@v3
        with:
          repository: ArchivesNationalesFR/Referentiels
          path: Referentiels
          ref: main

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "18"
      - name: Install dependencies & build
        run: |
          npm ci 
          
      - name: Persist npm cache
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package.json') }}

      - name: Persist Eleventy .cache
        uses: actions/cache@v3
        with:
          path: ./.cache
          key: ${{ runner.os }}-eleventy-fetch-cache

      - run: npm run read Referentiels
      - run: npm run frame
      #- run: npm run build
      - name: Build
        run: | 
            export NODE_OPTIONS=--max-old-space-size=4096
            npm run build

      - name: Copy the referentiel file
        run: npm run copyFiles Referentiels/agents dist/entities/agent Referentiels/lieux dist/entities/place

      # Vocabularies - Concepts
      # Python for convert JSON File to RDF File
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'pip' # caching pip dependencies
      - run: pip install -r rdflib
      - run: python scripts/JsonToRDF.py dist/entities/conceptsJson

      - name: Pagefind
        run: npx pagefind --write-playground

      # SCP transfer project to server ANS      
      - name: copy file via ssh key
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER }}
          username: ${{ secrets.USER }}
          port: ${{ secrets.PORT }}
          key: ${{ secrets.AUTHENTICATION }}
          source: dist
          target: ${{ secrets.REMOTE_PATH }}
          rm: true
          strip_components: 1
