name: garance
on: workflow_dispatch
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/checkout@v3
        with:
          repository: ArchivesNationalesFR/Referentiels
          path: Referentiels
          ref: main

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "18"
      - name: Install dependencies & build
        run: |
          npm ci 
          
      - name: Persist npm cache
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package.json') }}

      - name: Persist Eleventy .cache
        uses: actions/cache@v3
        with:
          path: ./.cache
          key: ${{ runner.os }}-eleventy-fetch-cache

      # - name: Test Uploading an artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: test-artifact-name
      #     path: README.md

      - run: npm run read Referentiels
      - run: npm run frame
      - run: npm run stats

      - name: Build
        run: | 
            export NODE_OPTIONS=--max-old-space-size=4096
            npm run build

      - name: Pagefind
        run: npx pagefind --write-playground

      - name: Content negotiation for Agents and Places
        run: npm run conneg-agents-places Referentiels/agents dist/entities/agent Referentiels/lieux dist/entities/place

      - name: Content negotiation for ConceptSchemes
        run: npm run conneg-conceptSchemes Referentiels/concepts/rdf dist/entities/

      # Vocabularies - Concepts
      # Python to convert JSON File to RDF File
      - name: Content negotiation for Concepts - serialize the concepts JSON files into RDF/XML
        # This is the version of the action for setting up Python, not the Python version.
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      # install rdflib
      - run: python -m pip install rdflib
      - run: python scripts/JsonToRDF.py dist/entities/conceptsJson

      # SCP transfer project to AN server      
      - name: copy file via ssh key
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER }}
          username: ${{ secrets.USER }}
          port: ${{ secrets.PORT }}
          key: ${{ secrets.AUTHENTICATION }}
          source: dist
          target: ${{ secrets.REMOTE_PATH }}
          rm: true
          strip_components: 1
