---
layout: main.njk
pagination:
      data: apersonnes.graph
      size: 1
      alias: app
permalink: "{{ locale }}/agents/personnes/personne/{{ app.id | localName }}/"
---

{% set jsonScheme = apersonnes["@context"] | json %}
<main id="personnePhysique">
  <article>
    <header>
      <div class="row">
        <div class="col-md">
          <h1 class="ConceptScheme-title">{{ app.label | lang("fr") }}</h1>
        </div>
        <!-- URI -->
        <p class="concept-URI">
          <code >
              <a href="{{ jsonScheme | getURL(app.id) }}">{{ jsonScheme | getURL(app.id) }}</a>
          </code>
        </p>
        <!-- type -->
        {% if app.type %}    
          {% for t in app.type %}
          <p class="type-subject">
            <span>
              <a href="{{ jsonScheme | getURL(t) }}">{{ t }}</a>        
            </span>
          </p>
          {% endfor %}
        {% endif %}
        <hr>
        <br>
      </div>
    </header>
    <!-- body -->
    <div class="row">
      <!-- Label -->
      {% set rdfsLabel = "rdfs:label" | i18n(local) %}
      <div class="col-3">
        <b>{{ "label" | traduction(rdfsLabel) }}</b>
        <p>
          <small>(rdfs:label)</small>
        </p>
      </div>
      <div class="col-9">
        <p>
        {{ app.label | lang("fr") }}
        </p>  
      </div>    
      
      <!-- BirthDate -->
      {% if app["rico:birthDate"] %}
        {% set ricoLabel = "rico:birthDate" | i18n(local) %}
        <div class="row">
          <div class="col-3">
            <b>{{ "rico:birthDate" | traduction(ricoLabel) }}</b>
            <p><span>(rico:birthDate)</span></p>            
          </div>
          <div class="col-9">
            <p>
              {{app["rico:birthDate"]["@value"]}}
            </p>  
          </div>    
        </div>
      {% endif %}
      
      <!-- History -->
      {% set getHistory = acol["rico:history"] | length %}
      {% if getHistory > 0 %}
        {% set labelHistory = "rico:history" | i18n(local) %}
        <div class="col-3">
          <b>{{ "rico:history" | traduction(labelHistory) }}</b>
          <p>
            <small>(rico:history)</small>
          </p>
        </div>
        <div class="col-9">
          <p>
            {{ app["rico:history"][0]["@value"] }}
          </p>  
        </div>
      {% endif %}

      <!-- type -->
      <div class="col-3">
        <b>type</b>
        <p>
          <small>(rdf:type)</small>
        </p>
      </div>
      <div class="col-9">
        {% for t in app.type %}
        <p>
          <span>
            <a href="{{ jsonScheme | getURL(t) }}" target="_blank">{{ jsonScheme | getURL(t) }}</a>
          <span>
        </p>    
        {% endfor %}
      </div> 

      <!-- -->
      {% if app["rico:agentIsTargetOfAgentOriginationRelation"] %}
      {% set labelaOR = "rico:agentIsTargetOfAgentOriginationRelation" | i18n(local) %}
      <div class="col-3">
        <b>{{ "rico:agentIsTargetOfAgentOriginationRelation" | traduction(labelaOR) }}</b>
        <p>
          <small>(rico:agentIsTargetOfAgentOriginationRelation)</small>
        </p>
      </div>
      <div class="col-9">
        {% for aOR in app["rico:agentIsTargetOfAgentOriginationRelation"] %}
        
        {% endfor %}  
        
      </div>
      {% endif %}

    </div>  
  </article>
</main>