---
layout: main.njk
---

<main id="personnesPhysiques">
    <!-- Liste de concepts -->
    <div class="row">
        <div class="col-md">
            {% if personnesId.graph %}
                {% set sPersonnes = personnesId.graph | sortJson(local)%}
                <ul>
                    {% for pp in sPersonnes %}                        
                        <li><a href="personne/{{ pp.id | json | localName }}">{{ pp.label | title }}</a></li>
                    {% endfor %}
                </ul>    
            {% endif %}
        </div>
    </div>
</main>