---
layout: main.njk
pagination:
    data: acollectivites.graph
    size: 1
    alias: acol
permalink: "{{ locale }}/agents/collectivites/collectivite/{{ acol.id | localName }}/"
---

{% set jsonScheme = acollectivites["@context"] | json %}

<main id="agent_collectivites">
  <!-- Header -->
  <div class="row">
    <div class="col-md">
        <h1 class="ConceptScheme-title">{{ acol.label | lang("fr") }}</h1>
    </div>
    <!-- URI -->
    <p class="concept-URI">
        <code >
            <a href="{{ jsonScheme | getURL(acol.id) }}">{{ jsonScheme | getURL(acol.id) }}</a>
        </code>          
    </p>
    <br>
  </div>
  <hr>
  <!-- Section -->  
  <div class="row">
      <!-- Label -->
      {% set rdfsLabel = "rdfs:label" | i18n(local) %}
      <div class="col-3">
        <b>{{ "label" | traduction(rdfsLabel) }}</b>
        <p>
          <small>(rdfs:label)</small>
        </p>
      </div>
      <div class="col-9">
        <p>
        {{ acol.label | lang("fr") }}
        </p>  
      </div>    
      
      <!-- Begin Date --> 
      {% if acol["rico:beginningDate"] %}
        {% set ricoBDate = "rico:beginningDate" | i18n(local) %}
        <div class="row">
          <div class="col-3">
            <b>{{ "rico:beginningDate" | traduction(ricoBDate) }}</b>
            <p><span>(rico:beginningDate)</span></p>            
          </div>
          <div class="col-9">
            <p>
              {{acol["rico:beginningDate"]["@value"]}}
            </p>  
          </div>    
        </div>

      {% endif %}

      <!-- BirthDate -->
      {% if acol["rico:birthDate"] %}
        {% set ricoLabel = "rico:birthDate" | i18n(local) %}
        <div class="row">
          <div class="col-3">
            <b>{{ "rico:birthDate" | traduction(ricoLabel) }}</b>
            <p><span>(rico:birthDate)</span></p>            
          </div>
          <div class="col-9">
            <p>
              {{acol["rico:birthDate"]["@value"]}}
            </p>  
          </div>    
        </div>
      {% endif %}
      
      <!-- History -->
      {% set getHistory = acol["rico:history"] | length %}
      {% if getHistory > 0 %}
        {% set labelHistory = "rico:history" | i18n(local) %}
        <div class="col-3">
          <b>{{ "rico:history" | traduction(labelHistory) }}</b>
          <p>
            <small>(rico:history)</small>
          </p>
        </div>
        <div class="col-9">
          <p>
            {{ acol["rico:history"][0]["@value"] }}
          </p>  
        </div>
      {% endif %}

      <!-- type -->
      <div class="col-3">
        <b>type</b>
        <p>
          <small>(rdf:type)</small>
        </p>
      </div>
      <div class="col-9">
        {% for t in acol.type %}
        <p>
          <span>
            <a href="{{ jsonScheme | getURL(t) }}" target="_blank">{{ jsonScheme | getURL(t) }}</a>
          <span>
        </p>    
        {% endfor %}
      </div> 

      <!-- -->
      {% set getATOR = acol["rico:agentIsTargetOfAgentOriginationRelation"] |length %}
      {% if getATOR > 0 %}
        {% set labelaOR = "rico:agentIsTargetOfAgentOriginationRelation" | i18n(local) %}
        <div class="col-3">
          <b>{{ "rico:agentIsTargetOfAgentOriginationRelation" | traduction(labelaOR) }}</b>
          <p>
            <small>(rico:agentIsTargetOfAgentOriginationRelation)</small>
          </p>
        </div>
        <div class="col-9">
          {% for aOR in acol["rico:agentIsTargetOfAgentOriginationRelation"] %}
          
          {% endfor %}  
          
        </div>
      {% endif %}

    </div>
  <p>{{ acol | json }}<p>
</main>