---
layout: main.njk
---

<main id="agents_collectivites">
    <div class="row">
        <div class="col-md">
            {% set sortCollectivite = acollectivites.graph | sortJson(local)%}
            <ul>
            {% for collectivite in sortCollectivite %}
                <li><a href="../collectivites/collectivite/{{ collectivite.id | localName }}">{{ collectivite.label | title }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>    
</main>